Options +MultiViews
RewriteEngine On
RewriteBase YOUR_ROOT_PATH



# Redirect requests to route.php for custom PHP routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ route.php?url=$1 [QSA,L]










